body {
  background: url("../assets/chuck.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.jokes-container {
  margin: 20px;
  text-align: center;
}
.joke {
  background: rgba(255, 255, 255, 0.95);;
  border-radius: 2px;
  margin: 3rem auto;
  padding: 2rem 1em;
  position: relative;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  font-size: 17px;
  color: #bdbdbd;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.joke:first-child {
  color: #424242;
}
.joke:nth-child(2) {
  color: #757575;
}
.joke:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.counter {
  position: absolute;
  color: #f06292;
  top: -40px;
  right: 10px;
  font-size: 50px;
}
@media only screen and (min-width: 601px) {
  .joke {
    padding: 2.5rem 1.5rem;
    width: 500px;
    font-size: 25px;
  }
  .counter {
    right: 20px;
    font-size: 75px;
  }
}
@media only screen and (min-width: 993px) {
  .joke {
    padding: 3rem 2rem;
    width: 700px;
    font-size: 30px;
  }
  .counter {
    font-size: 100px;
  }
}
